[matrix]
# Address of the Matrix server.
Address = http://localhost:8008
# Servername of the Matrix server.
ServerName = my.domain.name

[appservice]
# The port which wil be used by the appservices http server.
# By default the only listens on 127.0.0.1.
ApplicationServicePort = 5000
# The room which murmur gets bridged to, if it does not exists yet the bridge creates it.
Room = mumble_bridge
# The room which murmur gets bridged to, if it does not exists yet the bridge creates it.
UserPrefix = mumble_
# Tokens used for appservice <-> matrix communication, can be generated alphanumeric strings
ApplicationServiceToken = placeholder
HomeserverToken = placeholder
# If this option is set to on, the murmur puppets push a connected message
# on joining the murmur into the matrix room.
MessageOnConnected = off

[murmur]
# Address of the Murmur server.
Address = localhost
# Port of the Murmur ICE interface.
# See https://wiki.mumble.info/wiki/Ice#Getting_ready_to_use_Ice.
Port = 6502
# ID of the server, should be 1 as long as you dont run multiple Murmurs on one ICE interface.
ServerId = 1
# Secret which is configured in the murmur.ini.
# See https://wiki.mumble.info/wiki/Murmur.ini#icesecretread_and_icesecretwrite.
Secret = placeholder
# Uncomment if you want to bridge only specific murmur channles.
#BridgedChannels = channel1,channel2,... 

# Message handlers
[murmur_check_botamusique]
Enabled = 1
[murmur_remove_html]
Enabled = 1
