[Unit]
Description=matrix to mumble bridge
After=multi-user.target

[Service]
User=karl
Type=simple
Restart=always
WorkingDirectory=/home/karl/matrix2murmur/
ExecStart=/usr/bin/python3 /home/karl/matrix2murmur/matrix2murmur.py

[Install]
WantedBy=multi-user.target