[Unit]
Description=MandM bridge
After=multi-user.target

[Service]
User=mandm-bridge
Type=simple
Restart=always
WorkingDirectory=/opt/mandm-bridge/
ExecStart=/opt/mandm-bridge/env/bin/python3 /opt/mandm-bridge/main.py

[Install]
WantedBy=multi-user.target